./.idea

./Petanque.Storage.Entity/bin
./Petanque.Storage.Entity/obj

./Petanque.Models/bin
./Petanque.Models/obj

./Petanque.Storage/bin
./Petanque.Storage/obj

./Petanque.Services/bin
./Petanque.Services/obj

./Petanque.Api/bin
./Petanque.Api/obj

./Petanque.Contracts/bin
./Petanque.Contracts/obj

./Petanque.Models.Tests/bin
./Petanque.Models.Tests/obj